.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 8px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--primary-grey-color);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  
  .nav {
    display: flex;
  }
  
  .box_logo {
display: flex;
flex-direction: row;
align-items: center;
gap: 12px;
color: var(--primary-button-color);
  }

  .logo {
    font-weight: 700;
    font-size: 12px;
    margin: 0;
  }
  
  .link {
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  
  .active {
    color: white;
    background-color: var(--primary-button-color);
  }
  

  @media only screen and (min-width: 768px) {
    .logo {
      font-size: 26px;
    }
  }