/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        HomePage
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

   .container_home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(https://ik.imagekit.io/MrRoik/bhdukwegd7234gd2.png?updatedAt=1717674626422);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .title {
    font-weight: 500;
    color:var(--primary-filter-grey-color);
    font-size: 88px;
    text-align: center;
  }

  .description {
    color:var(--primary-filter-grey-color);
    font-size: 22px;
    text-align: center;
  }


  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    CatalogPage
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
   .container_catalog {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 32px 0;
   }

   .box_filter {
    max-width: 360px;
   }

   .box_catalog {
    max-width: 888px;
   }

   @media only screen and (min-width: 768px) {
    .container_catalog {
      display: flex;
      flex-direction: row;
      
         }
  }
   /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    FavoritesPage
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */