:root {
  --primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
      --primary-black-color: #101828;
      --primary-grey-color: #475467;
      --primary-white-color: #FFF;
      --primary-button-color: #e44848;
      --primary-button-hover-color: #d84343;
      --primary-yellow-color: #ffc531;
      --primary-filter-grey-color: #f2f4f7;
      --primary-input-color: #f7f7f7;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-black-color);
  }
  a:hover {
    color: var(--primary-blue-color);
  }
  
  body {
    font-family: var(--primary-font);
    color: var(--primary-light-grey-color);
    background: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
/*
  svg{
    stroke: var(--primary-black-color);
    fill: var(--primary-white-color);
}*/
  
  td,
  th {
    border: 2px solid #666;
    padding: 10px;
    text-align: center;
  }
  

  @media (prefers-color-scheme: light) {
    :root {      
      background-color: var(--primary-white-color);
    }
    body {
      color: var(--primary-black-color);
      background: var(--primary-white-color);
    }
    a:hover {
      color: var(--primary-blue-color);
    }
  }